* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
  background-color: #2B2B2B;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-section {
  padding: 80px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.hero__content {
  width: 510px;
  text-transform: capitalize;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  text-align: start;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.hero__text {
  margin-bottom: 30px;
  color: #fff;
  text-align: start;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.hero__link, .hero__link--mobile {
  margin-bottom: 30px;
  position: relative;
  width: 224px;
  padding: 20px 0;
  background-color: #A259FF;
  display: inline-block;
  border-radius: 20px;
  padding-left: 32px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.hero__link::before, .hero__link--mobile::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/hero/rocket.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateX(-32px);
}
.hero__link:hover::before, .hero__link--mobile:hover::before {
  background-image: url("../images/hero/rocket-hover.svg");
}
.hero__link:hover, .hero__link--mobile:hover {
  background-color: transparent;
  border-color: #A259FF;
}

.statistic, .hero__statistic--mobile {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.statistic__item > strong, .statistic__item--mobile > strong {
  text-transform: capitalize;
  font-family: "Space Mono", monospace;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.statistic__item > p, .statistic__item--mobile > p {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.hero__link--mobile, .hero__statistic--mobile, .statistic__item--mobile > strong {
  display: none;
}

.walking {
  padding: 20px;
  padding-top: 421px;
  min-width: 510px;
  border-radius: 20px;
  background-color: #3B3B3B;
  background-image: url("../images/hero/hero-img.png");
  background-repeat: no-repeat;
  background-size: 100% 401px;
}

.walking__subtitle {
  margin-bottom: 10px;
  display: inline-block;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.walking__avatar-wrap {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.walking__avatar-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 937px) {
  .hero__title {
    margin-bottom: 20px;
    color: #fff;
    text-align: start;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .hero__text {
    margin-bottom: 20px;
    color: #fff;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .statistic__item > strong {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
  }
  .statistic__item > p {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
  .hero__content {
    width: 330px;
  }
  .walking {
    min-width: 330px;
    padding-top: 241px;
    background-image: url("../images/hero/hero-tablet.png");
    background-repeat: no-repeat;
    background-size: 100% 221px;
  }
}
@media (max-width: 725px) {
  .hero-section {
    padding: 40px 0;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
  .hero__content {
    width: 100%;
  }
  .hero__title {
    margin-bottom: 10px;
    color: #fff;
    text-align: start;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .hero__text {
    margin-bottom: 40px;
  }
  .hero__link {
    display: none;
  }
  .statistic {
    display: none;
  }
  .walking {
    padding-top: 321px;
    width: 80%;
    background-size: 100% 321px;
  }
  .hero__link--mobile, .hero__statistic--mobile, .statistic__item--mobile > strong {
    display: block;
  }
  .hero__link--mobile {
    margin-top: 40px;
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #A259FF;
    display: inline-block;
    border-radius: 20px;
    padding-left: 32px;
    border: 1px solid transparent;
    transition: all 0.4s ease;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .hero__link--mobile::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/hero/rocket.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translateX(-32px);
  }
  .hero__link--mobile:hover::before {
    background-image: url("../images/hero/rocket-hover.svg");
  }
  .hero__link--mobile:hover {
    background-color: transparent;
    border-color: #A259FF;
  }
  .hero__statistic--mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (max-width: 400px) {
  .walking {
    padding-top: 226px;
    width: 100%;
    background-image: url("../images/hero/hero-mobile.png");
    background-size: 100% 206px;
  }
}
.site-header {
  padding: 20px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.navbar {
  gap: 10px;
}

.navbar__list, .navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.navbar__item {
  padding: 20px;
}

.navbar__link {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.navbar__sign-up {
  position: relative;
  width: 152px;
  padding: 20px 0;
  background-color: #A259FF;
  display: inline-block;
  border-radius: 20px;
  padding-left: 32px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.navbar__sign-up::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/avatar.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateX(-32px);
}
.navbar__sign-up:hover::before {
  background-image: url("../images/avater-hover.svg");
}
.navbar__sign-up:hover {
  background-color: transparent;
  border-color: #A259FF;
}
.navbar__sign-up:hover::before {
  background-image: url("../../images/avatar-hover.svg");
}
.navbar__sign-up:hover {
  color: #A259FF;
}

.header__hamburger-btn {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 927px) {
  .site-header {
    padding: 15px 0;
  }
  .header__logo-img {
    width: 182px;
    height: 24px;
  }
  .navbar {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
}
.trend-section {
  margin-bottom: 160px;
}

.trend__title {
  margin-bottom: 10px;
  text-transform: capitalize;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.trand__text {
  margin-bottom: 60px;
  text-transform: capitalize;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.trend__wrap {
  display: flex;
}

.trend__folder + .trend__folder {
  margin-left: 30px;
}

.trend__folder {
  width: 330px;
}

.trend__img {
  margin-bottom: 15px;
}

.trend__list {
  margin-bottom: 15px;
  display: flex;
}

.trend__item + .trend__item {
  margin-left: 15px;
}

.trend__strong {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.trend__avatar-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.creator-section {
  margin-bottom: 160px;
}

.creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.creator__content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.creator__title {
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.creator__text {
  margin-bottom: 60px;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.creator__link {
  position: relative;
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  width: 247px;
  padding: 22px 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: end;
  border: 1px solid #A259FF;
  transition: all 0.4s ease;
}
.creator__link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../../images/hero/rocket-hover.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateX(-127px);
}
.creator__link:hover::before {
  background-image: url(../../images/hero/Rocket.svg);
}
.creator__link:hover {
  background-color: #A259FF;
  border-color: #A259FF;
}

.users {
  margin-bottom: 30px;
  display: flex;
}

.users__folder + .users__folder {
  margin-left: 30px;
}

.users__folder {
  width: 240px;
  position: relative;
  background-color: #3B3B3B;
  border-radius: 20px;
}

.users__list {
  text-align: center;
}

.users__link {
  position: absolute;
  display: inline-block;
  color: #858584;
  text-align: center;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border-radius: 50%;
  padding: 3px 10px;
  background: #2B2B2B;
  top: 20px;
  left: 20px;
}

.users__link--number {
  padding: 3px 6px;
}

.users__img {
  margin: 20px;
}

.users__title {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.users__text {
  margin-bottom: 60px;
  display: inline-block;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #858584;
}

.users__text > span {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "Space Mono";
}

.browse-section {
  margin-bottom: 160px;
}

.browse {
  display: flex;
  flex-direction: column;
}

.browse__title {
  margin-bottom: 60px;
  text-transform: capitalize;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.browse__wrap {
  display: flex;
  margin-bottom: 30px;
}

.browse__wrap-sec {
  display: flex;
}

.browse__folder + .browse__folder {
  margin-left: 30px;
}

.browse__folder {
  width: 240px;
  background-color: #3B3B3B;
  border-radius: 20px;
}

.browse__strong {
  padding: 20px 30px 25px 30px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.magic-section {
  padding: 360px 0 60px;
  background-image: url("../images/magic/magic-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-attachment: fixed;
}

.magic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.magic__top-avatar-wrap {
  margin-bottom: 30px;
  width: 151px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 20px;
  background: #3B3B3B;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.magic__title {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}

.magic__link {
  position: relative;
  display: inline-block;
  color: #2B2B2B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  width: 198px;
  padding: 22px 50px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: end;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.magic__link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/magic/Eye.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateX(-78px);
}/*# sourceMappingURL=main.css.map */