

.creator-section{
    margin-bottom: 100px;
}
.creator{
    @include display($align:center, $justify:space-between);
}
.creator__content{
    @include display($direction:column);

}
.creator__title{
    margin-bottom: 10px;
    text-transform: capitalize;
    @include textStyle($fs:38px, $fw:600, $lh:120%);
}
.creator__text{
    text-transform: capitalize;
    @include textStyle($fs:22px, $fw:400, $lh:160%);
    @include textStyle();

}
.creator__link{
    position: relative;
    display: inline-block;
    color: #FFF;

    // text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    
    width: 247px;
    padding: 22px 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    
    border: 1px solid #A259FF;
    transition: all 0.4s ease;
    
    
    &::before{
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url(../../images/hero/rocket-hover.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        transform: translateX(-127px);
    }
    &:hover::before{
        background-image: url(../../images/hero/Rocket.svg);
    }
    &:hover{
        background-color: #A259FF;
        border-color: #A259FF;
         
    }
}


.users__folder{
    width: 240px;
    position: relative;
    
    background-color: #3B3B3B;
    border-radius: 20px;

}
.users__list{
    text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    // @include display($align:center, $justify:center);


}
.users__link{
    position: absolute;
    display: inline-block;
    color: #858584;
    text-align: center;
    font-family: Space Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    border-radius: 50%;
    padding: 3px 10px;
    background: #2B2B2B;
    // background: green;

    top: 20px;
    left: 20px;
}
.users__img{
    margin: 20px;
}
.users__title{
    text-transform: capitalize;
    @include textStyle($fs:22px, $fw:600, $lh:140%);
}
.users__text{
    display: inline-block;
    margin-bottom: 20px;
    @include textStyle($fs:16px, $fw:400, $lh:140%);
    color: #858584;
}
.users__text>span{
    @include textStyle($fs:16px, $fw:400, $lh:140%);
    font-family: "Space Mono";

}






